.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cardGrid {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.cardGrid:hover {
  transform: scale(1.05);
}